# services/user-service/requirements.txt
fastapi
uvicorn
psycopg2-binary
redis
python-jose[cryptography]
python-dotenv
sqlalchemy
passlib[bcrypt]
pyjwt
alembic
pydantic<2          # ✅ force Pydantic v1
fastapi-mail # ✅ compatible with Pydantic v1

